.app {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header"
    "wrap";
    width: 1200px;
    margin: 0 auto;
}
.wrap {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: 
    "menu content";
}
.content {
    grid-area: content;
}